* {
  font-family: "Bellefair", serif;
}

.home {
  background: url("../assets/home/background-home-mobile.jpg") no-repeat
    center/cover;
  height: calc(100vh + 1px);
}
.title {
  font-family: "Barlow Condensed", sans-serif;

  color: #d0d6f9;
}

p {
  color: #d0d6f9;
}

.home .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh + 1px);
  text-align: center;
  color: $cream;
}

@media (min-width: 375px) {
  .home {
    background: url("../assets/home/background-home-mobile.jpg") no-repeat
      center/cover;
    height: calc(100vh + 1px);
  }
  .menu {
    display: none;
  }

  .header nav {
    display: block;
  }

  .header nav ul {
    flex-direction: row;
    background-color: transparent;
    backdrop-filter: blur(0);
    --webkit-backdrop-filter: blur(0);
    position: relative;
    top: 0;
    right: 0;
    width: auto;
  }

  .header nav ul li {
    margin: 0 10px;
  }

  .destinations {
    background: url("../assets/destination/background-destination-mobile.jpg")
      no-repeat center/cover;
    height: auto;
  }

  .crew {
    background: url("../assets/crew/background-crew-mobile.jpg") no-repeat
      center/cover;
    height: auto;
  }

  .technology {
    background: url("../assets/technology/background-technology-mobile.jpg")
      no-repeat center/cover;
    height: auto;
  }
}

@media (min-width: 768px) {
  .home {
    background: url("../assets/home/background-home-tablet.jpg") no-repeat
      center/cover;
    height: calc(100vh + 1px);
  }

  .home .overlay {
    flex-direction: row;
  }

  .destinations {
    background: url("../assets/destination/background-destination-tablet.jpg")
      no-repeat center/cover;
  }

  .crew {
    background: url("../assets/crew/background-crew-tablet.jpg") no-repeat
      center/cover;
  }

  .technology {
    background: url("../assets/technology/background-technology-tablet.jpg")
      no-repeat center/cover;
  }
}

@media (min-width: 1280px) {
  .home {
    background: url("../assets/home/background-home-desktop.jpg") no-repeat
      center/cover;
    height: calc(100vh + 1px);
  }

  p {
    font-size: 18px;
  }

  .home .overlay {
    max-width: 1200px;
    margin: auto;
  }

  .destinations {
    background: url("../assets/destination/background-destination-desktop.jpg")
      no-repeat center/cover;
  }

  .crew {
    background: url("../assets/crew/background-crew-desktop.jpg") no-repeat
      center/cover;
  }

  .technology {
    background: url("../assets/technology/background-technology-desktop.jpg")
      no-repeat center/cover;
  }
}
