.header {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(5px);
  backdrop-filter: blur(81.5485px);
}

.header nav {
  display: none;
}

.header nav.open {
  display: block;
}

.header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111827;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  width: calc(100vw - 50px);
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  z-index: 999;
}

.header nav ul li {
  margin: 10px 0;
}
.menu {
  display: block;
}
